$transitionTime: 400ms;
//Slide Left

.card-slide-left {
  position: absolute;
  // transition-delay: 1s;
  transition: transform $transitionTime;
  transform: translateX(0%);
}

.card-slide-left-enter {
  position: absolute;
  // transition-delay: 1s;
  // top: 0;
  transform: translateX(200%);
  width: 100%;
  transition: transform $transitionTime;
}
.card-slide-left-enter-active {
  position: absolute;
  // transition-delay: 1s;
  // top: 0;
  transform: translateX(0%);
  width: 100%;
  // opacity: 1;
  transition: transform $transitionTime;
}
.card-slide-left-exit {
  position: absolute;
  // transition-delay: 1s;
  // top: 0;
  transform: translateX(0%);
  width: 100%;
}
.card-slide-left-exit-active {
  position: absolute;
  // transition-delay: 1s;
  // top: 0;
  transform: translateX(-200%);
  width: 100%;
  transition: transform $transitionTime;
}

// Slide
.card-slide-right-enter {
  position: absolute;
  // transition-delay: 1s;
  // top: 0;
  transform: translateX(-200%);
  // width: 100%;
  transition: transform $transitionTime;
}
.card-slide-right-enter-active {
  position: absolute;
  // transition-delay: 1s;
  // top: 0;
  transform: translateX(0%);
  // width: 100%;
  transition: transform $transitionTime;
}
.card-slide-right-exit {
  position: absolute;
  // transition-delay: 1s;
  // top: 0;
  transform: translateX(0%);
  width: 100%;
  transition: transform $transitionTime;
}
.card-slide-right-exit-active {
  position: absolute;
  // transition-delay: 1s;
  // top: 0;
  transition: transform $transitionTime;
  transform: translateX(200%);
  width: 100%;
}
