.form-screen-title-outer-wrapper {
  position: relative;
  // padding: 30px 0;
  // padding-top: 20px;
  .logo-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-bottom: 40px;
    cursor: pointer;
    svg,
    img {
      display: inline-block;
      height: 64px;
      transition: 460ms;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--primary);
      width: 60px;
      height: 3px;
    }
  }
  .title-wrapper {
    position: relative;

    text-align: center;
    h2 {
      // color: var(--primary);
      font-size: 24px;
      // font-weight: 700;
      line-height: 36px;
      // text-transform: uppercase;
      letter-spacing: 1px;
      // border-bottom: 1px solid rgb(227, 227, 227);
      // padding-bottom: 15px;
    }
  }
}
