$boxHeight: 100px;

.image-upload-inner-wrapper {
  height: $boxHeight;
  display: flex;
  position: relative;
  width: 100%;
  z-index: 111111;
  .image-upload-box {
    display: flex;
    flex-grow: 1;
    border-radius: 5px;
    background-color: #eff7fe;
    border: 3px dashed #a2cbf8;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 200ms;
    color: rgb(27, 112, 202);
    &:hover {
      background-color: #e3eef8;
    }
    .image-upload__title {
      margin-top: 5px;
      font-size: 12px;
    }
    svg {
      height: 20px;
    }
    #image-upload {
      display: none;
    }
  }

  .image-upload-preview {
    position: relative;
    border: 1px solid #d6d6d6;
    width: $boxHeight;
    height: $boxHeight;
    border-radius: 5px;
    margin-left: 10px;

    #close-icon {
      position: relative;
      background-color: #fff;
      cursor: pointer;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 0;
      svg {
        width: 24px;
        height: 24px;
        // fill: red;
      }
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
