#long-text {
  .MuiTextField-root {
    // min-height: 100px;
  }
  .char-count-container {
    position: relative;
    transition: 300ms;
    font-size: 0.8rem;
    &.valid {
      color: green;
    }
  }
  textarea {
    width: 100%;
    padding: 8.5px 14px;
    min-height: 80px;
    font-size: 0.8rem;
    border-radius: 4px;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.23);
    background-color: #ffffff;
    z-index: 111111;
  }
}
