.radio-selection-wrapper {
  position: relative;
  z-index: 11111;
  // padding: 25px 0 15px;

  .MuiTypography-root {
    font-size: 0.7rem;
    margin-left: 0;
    margin-right: 0;
  }
  .radio-selector-items-container {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-evenly;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    display: flex;
    flex-direction: row;
    .radio-selector-item-wrapper {
      //   align-items: center;
      //   justify-content: center;
      margin-left: 0;
      margin-right: 0;
      //   flex-grow: 1;
      margin: 8px 15px 0;
      //   margin-bottom: 15px;
      .MuiFormControlLabel-root {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
