.form-card {
  background: #ffffff;
  width: 100%;

  // position: absolute;
  // margin: 15px auto;
  // border-radius: 14px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1605);
  max-width: 720px;
  padding: 60px 15px;

  // transition-delay: 1s;
}
