.progress-bar-container {
  position: relative;
  margin-top: 25px;
  max-width: var(--pageMaxWidth);
  width: 100%;
  padding: 20px 15px 60px;
  color: #ffff;
  text-align: center;
  display: flex;
  align-items: center;
  max-width: 640px;
  justify-content: center;
  .progress-bar-item {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 111;
    max-width: 240px;
    &:not(.last-child) {
      flex-grow: 1;
    }
    .progress-bar-item__step {
      position: relative;
      color: var(--graySecondary);
      .progress-bar-step__circle {
        position: relative;
        width: 36px;
        height: 36px;
        border: 2px solid var(--graySecondary);
        background-color: #f8f8f8;
        z-index: 11;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: calc(var(--progressBarAnimation) / 2);
        .circle-number {
          position: relative;
          font-size: 13px;
          font-weight: bold;
          color: inherit;
        }
      }

      .progress-bar-step__label {
        color: inherit;
        position: absolute;
        font-size: 12px;
        width: 88px;
        left: 50%;
        line-height: 1rem;
        font-weight: bold;

        transform: translateX(-50%);
        margin-top: 10px;
      }
      &.is-active {
        color: var(--primary);
        .progress-bar-step__circle {
          transition-delay: var(--progressBarAnimationOffset);
          border-color: var(--primary);
          color: var(--primary);
        }
        .progress-bar-step__label {
          transition-delay: var(--progressBarAnimationOffset);
          color: var(--primary);
        }
        svg {
          fill: var(--primary);
        }
      }
      &.is-completed {
        .progress-bar-step__circle {
          background-color: var(--primary);
          border-color: var(--primary);
          color: #ffffff;
          .icon-wrapper svg {
            fill: #ffffff;
          }
        }
        .progress-bar-step__label {
          color: var(--primary);
        }
      }
    }
    .progress-bar-item__line {
      position: absolute;
      width: calc(100% - 36px);
      right: 0;
      display: flex;
      flex-grow: 1;
      height: 2px;
      border-top: 2px dashed var(--graySecondary);
      z-index: 1;

      .line-fill {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 0%;
        transition: var(--progressBarAnimation);
        transition-timing-function: linear;
        background-color: var(--primary);
        border-top: 2px dashed var(--primary);
      }

      &.is-active {
        .line-fill {
          width: 100%;
        }
      }
    }

    @media only screen and (max-width: 600px) {
      .progress-bar-item__step {
        .progress-bar-step__circle {
          width: 36px;
          height: 36px;
          .icon-wrapper {
            svg {
              height: 16px;
            }
          }
        }
        .progress-bar-step__label {
          font-size: 9px;
          width: 67px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .progress-bar-item {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 111;
    max-width: 80px;
  }
}

@keyframes circleFill {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
